:root {
  --margin-sections: 1em;
}

/********************************************
 *  HEADER BEGIN                            *
 ********************************************/

header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 0px;
    text-align: center;
    color: black;
}

/********************************************
 *  HEADER END                              *
 ********************************************
 *  OHTER SECTION BEGIN                     *
 ********************************************/

#other-section {
    /*margin-top: var(--margin-sections);*/
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.square, .rectangle {
    padding: 0;
}

.row {
    margin-top: 1em;
}

@media(max-width:767px) {
    #other-section {
        width: 100%;
    }
    .square img {
        width: 95%;
    }
    .rectangle img {
        width: 99.9%;
    }
    .not-mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    #other-section .container {
        width: 765px;
    }
    .square img {
        width: 96.5%;
    }
    .rectangle img {
        width: 99.3%;
    }
    .mobile {
        display: none;
    }
}

@media(min-width:992px) {
    #other-section .container  {
         width: 69.3em;
    }
    .square img {
        width: 97%;
    }
    .rectangle img {
        width: 99.3%;
    }
    .mobile {
        display: none;
    }
}

/********************************************
 *  OHTER SECTION END                       *
 ********************************************
 *  NEWSLETTER BEGIN                        *
 ********************************************/

#newsletter {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: url(./img/header.png) no-repeat center center;
    background-size: cover;
    color: black;
}

/********************************************
 *  NEWSLETTER END                          *
 ********************************************
 *  MEDIA BEGIN                             *
 ********************************************/

@media(max-width:767px) {
    header, #newsletter, #other-section .container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    header, #newsletter, #other-section .container {
        width: 765px;
    }
}

@media(min-width:992px) {
    header, #newsletter, #other-section .container {
         width: 970px;
    }
}

/********************************************
 *  MEDIA END                               *
 ********************************************/