/********************************************
 *  HEADER BEGIN                            *
 ********************************************/

header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.header-img {
    width:100%;
}
/********************************************
 *  HEADER END                              *
 ********************************************
 *  ROOMS BEGIN                             *
 ********************************************/

#stay {
    padding-top: 25px;
}

#group, #beach {
    margin-top: 2.5em;
}

.rooms {
    padding: 0;
    margin: 0;
}

.rooms-divider {
    margin-left: auto;
    margin-right: auto;
}

.rooms a h5 {
    text-transform: uppercase;
    color: black;
}

@media(max-width:767px) {
    #group, #beach {
        margin-top: 0em;
    }
    .square {
        display: none;
    }
    .rectangle {
        display: inline;
    }
    .category-rectangle {
        width: 100%;
        margin-bottom: 15px;
    }
    .room-image, .rooms a .text-center {
        width: 95%;
    }
    .left-sm a .text-center {
        float:left;
    }
    .right-sm a .text-center {
        float:right;
    }
    .left-sm {
        text-align: left;
    }
    .right-sm {
        text-align: right;
    }
    .rooms-divider {
        display: none;
    }
}

@media(min-width:768px) {
    .square {
        display: inline;
    }
    .category-square {
        width: 96.5%;
    } 
    .rectangle {
        display: none;
    }
    .room-image, .rooms a .text-center {
        width: 96.5%;
    }
    .left-md a .text-center {
        float:left;
    }
    .center-md a .text-center {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .right-md a .text-center {
        float:right;
    }
    .left-md {
        text-align: left;
    }
    .center-md {
        text-align: center;
    }
    .right-md {
        text-align: right;
    }
    .rooms-divider {
        width: 765px;
    }
}

@media(min-width:992px) {
    .square {
        display: inline;
    }
    .category-square {
        width: 97.5%;
    }
    .rectangle {
        display: none;
    }
    .room-image, .rooms a .text-center {
        width: 97.5%;
    }
    .left-md a .text-center {
        float:left;
    }
    .center-md a .text-center {
        margin-left: auto;
        margin-right: auto;
    }
    .right-md a .text-center {
        float:right;
    }
    .left-md {
        text-align: left;
    }
    .center-md {
        text-align: center;
    }
    .right-md {
        text-align: right;
    }
    .rooms-divider {
        width: 970px;
    }
}

/********************************************
 *  ROOMS END                               *
 ********************************************
 *  MEDIA BEGIN                             *
 ********************************************/

@media(max-width:767px) {
    header, #stay .container, #group .container, #beach .container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    header {
        width: 765px;
    }
}

@media(min-width:992px) {
    header {
        width: 970px;
    }
}
/********************************************
 *  MEDIA END                               *
 ********************************************/