:root {
  --margin-sections: 1em;
}

/********************************************
 *  HEADER BEGIN                            *
 ********************************************/

header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.header-img {
    width:100%;
}

/********************************************
 *  HEADER END                              *
 ********************************************
 *  PHOTOS BEGIN                            *
 ********************************************/

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
}
ul li img {
  cursor: pointer;
}

.square {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}

@media(max-width:767px) { /* XS */
    .square img {
        margin: 0;
        padding: 0;
        width: 97.5%;
    }
    .left-sm {
        text-align: left;
    }
    .right-sm {
        text-align: right;
    }
}

@media (min-width: 768px) { /* SM */
    #other-section .container {
        width: 765px;
    }
    .square img {
        width: 96.5%;
    }
    .rectangle img {
        width: 99.3%;
    }
    .mobile {
        display: none;
    }
}

@media(min-width:992px) {   /* MD */
    #other-section .container  {
         width: 69.3em;
    }
    .mobile {
        display: none;
    }
    .square-img, .square a .text-center {
        width: 97.5%;
    }
    .left-md img, .left-md a .text-center {
        float:left;
    }
    .center-md a .text-center {
        margin-left: auto;
        margin-right: auto;
    }
    .right-md a .text-center {
        float:right;
    }
    .left-md {
        text-align: left;
    }
    .center-md {
        text-align: center;
    }
    .right-md {
        text-align: right;
    }
}

/********************************************
 *  PHOTOS END                              *
 ********************************************
 *  MEDIA BEGIN                             *
 ********************************************/

@media(max-width:767px) { /* XS */
    header {
        width: 90%;
    }
}

@media (min-width: 768px) { /* SM */
    header {
        width: 765px;
    }
}

@media(min-width:992px) { /* MD */
    header{
        width: 970px;
    }
}
/********************************************
 *  MEDIA END                               *
 ********************************************/