/********************************************
 *  HEADER BEGIN                            *
 ********************************************/

header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.header-img {
    width:100%;
}

/********************************************
 *  HEADER END                              *
 ********************************************
 *  MEDIA BEGIN                             *
 ********************************************/

@media(max-width:767px) {
    header {
        width: 90%;
    }
}

@media (min-width: 768px) {
    header {
        width: 765px;
    }
}

@media(min-width:992px) {
    header{
        width: 970px;
    }
}
/********************************************
 *  MEDIA END                               *
 ********************************************/