/********************************************
 *  HEADER BEGIN                            *
 ********************************************/

header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.header-img {
    width:100%;
}

/********************************************
 *  HEADER END                              *
 ********************************************
 *  INTRODUCTION BEGIN                      *
 ********************************************/

.return-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

.catogary-title {
    text-transform: uppercase;
}

.content {
    text-align: justify;
    text-justify: inter-word;
}

#included ul {
    margin-left: 1.6em;
}

#nav-footer {
    margin-top: 1em;
} 

.return-link:hover, .active {
    text-decoration: none;
    color: #FFDD00;
}

@media(max-width:767px) { /* XS */
    .not-mobile {
        display: none;
    }
    .image {
        width: 97.5%;
    }
    .left-sm {
        text-align: left;
    }
    .right-sm {
        text-align: right;
    }
    .divider {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) { /* SM */
    #nav-footer .container {
        width: 765px;
    }
    .mobile {
        display: none;
    }
    .image {
        width: 96.5%;
    }
    .divider {
        width: 765px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:992px) {   /* MD */
    #nav-footer .container  {
         width: 69.3em;
    }
    .mobile {
        display: none;
    }
    .divider {
        width: 69.3em;
        margin-left: auto;
        margin-right: auto;
    }
    .image {
        width: 97.5%;
    }
    .left-md img, .left-md a .text-center {
        float:left;
    }
    .center-md a .text-center {
        margin-left: auto;
        margin-right: auto;
    }
    .right-md a .text-center {
        float:right;
    }
    .left-md {
        text-align: left;
    }
    .center-md {
        text-align: center;
    }
    .right-md {
        text-align: right;
    }
}

/********************************************
 *  INTRODUCTION END                        *
 ********************************************
 *  MEDIA BEGIN                             *
 ********************************************/

@media(max-width:767px) {
    header, #introduction .container, #included .container, #nav-footer .container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    header, #nav-footer .container {
        width: 765px;
    }
}

@media(min-width:992px) {
    header{
        width: 970px;
    }
}
/********************************************
 *  MEDIA END                               *
 ********************************************/